
# ignore any cache directory wherever it appears
**/**cache**

# ignore the environment file
.env
**/node_modules
**/.vscode

# LaTeX build artifacts (auxiliary files) – match anywhere
**/*.aux
**/*.log
**/*.fls
**/*.fdb_latexmk
**/*.out
**/*.toc
**/*.lof
**/*.lot
**/*.gz
**/*.idx
**/*.ilg
**/*.ind
**/*.mtc*
**/*.maf
**/*.mtc
**/*.synctex.gz
**/*.bbl
**/*.blg
**/*.run.xml
**/*.acn
**/*.glo
**/*.ist
**/*.pdf
**/*.zip


# directories for LaTeX generates
**/_Cache__/
